body {
	background: #FAEBD7;
	max-width: 900px;
}

.mealplan {
	border: 3px dashed black;
	padding: 0px 8px 10px 13px;
	width: 500px;
	margin: auto;
	text-align: center;
}

img.homepage {
	display: block;
	margin: auto;
	width: 100%;
}

footer {
	border: 4px solid white;
	border-top: none;
	border-bottom: none;
	width: 200px;
	text-align: center;
	margin: auto;
	padding: 0px 0px 5px 0px;
}


/*footer.h3 {
	text-align: center;
}*/

.title {
	border: 1px solid white;
	width: 100%;
	text-align: center;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	text-shadow: black 5px 5px 5px;
	font-family: Arial;
	font-size: 100px;
	margin: auto;
	display: block;
	margin-bottom: 40px;
	margin-top: 40px;
	padding: 40px 40px 40px 40px;
	background-image: url(images/header.jpg);
	background-size: 320px 240px;
}

a:link {
	color: blue;
}

a:visited {
	color: red;
}

a:hover {
	color: yellow;
}

#intro {
	font-size: 30px;
}

#intro > p {
	text-align: center;
}

#recipe {
	width: 600px;
	margin: auto;
	text-align: center;
}

table, td, th {
	vertical-align: bottom;
	margin: auto;
}

main {
	max-width: 75%;
	position: absolute;
	padding-left: 20%;
}

.sidebar{
	max-width: 20%;
	display: inline-block;
	position: fixed;
	padding-right: 20%;

}

@media screen and (max-width: 500px) {
  img.homepage {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
	.title {
		width: 60%;
		font-size: 30px;
		background-size: 40%;
	}
}

li {
	max-width: 400px;
}

