body {
	background: #d7e6fa; 
	max-width: 1000px;
	font-family: Arial;
	position: relative;
	text-align: center;
}

body.h2 {
	text-align: center;
}

.mealplan {
	border: 3px dashed black;
	padding: 0px 8px 10px 13px;
	width: 50%;
	margin: auto;
	text-align: center;
}

img.homepage {
	display: block;
	margin: auto;
	width: 100%;
	border-radius: 25%;
}

img.zoodle {
	display: block;
	margin: auto;
	width: 70%;
}

footer {
	border: 4px solid #FAEBD7;
	border-top: none;
	border-bottom: none;
	width: 40%;
	text-align: center;
	margin: auto;
	padding: 0px 0px 5px 0px;
}

h1.title {
	border: 1px solid #FAEBD7;
	max-width: 80%;
	text-align: center;
	color: white;
	font-variant: small-caps;
	font-weight: bold;
	text-shadow: black 5px 5px 5px;
	font-family: Arial;
	font-size: 80px;
	margin: auto;
	margin-bottom: 10px;
	display: block;
	padding: 20px 20px 20px 20px;
	background-image: url(images/header.jpg);
	background-size: 320px 240px;
	position: relative;
	border-radius: 50%;
}

nav {
	font-size: 15px;
}

a:link {
	color: blue;
}

a:visited {
	color: red;
}

a:hover {
	color: yellow;
}

#intro {
	font-size: 20px;
}

#intro > p {
	text-align: center;
}

#recipe {
	width: 600px;
	margin: auto;
	text-align: center;
}

table, td, th {
	vertical-align: bottom;
	margin: auto;
}

main {
	width: 80%;
	padding-left: 20%;
}

.sidebar{
	min-width: 10%;
	display: block;
	position: absolute;
	height: 100%;

}

@media screen and (max-width: 600px) {
  img.homepage {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
	h1.title {
		width: 60%;
		max-height: 500px;
		font-size: 30px;
		background-size: 40%;
	}
}

@media screen and (max-width: 600px) {
	#intro > p {
		font-size: 10px;
	}
}


